.slider:hover::-webkit-scrollbar-thumb {
  background-color: #454545;
  border: 3px none #ffffff;
}

.slider:hover::-webkit-scrollbar-track {
  background: #a6a6a6;
}

a:hover {
  color: violet;
}

.curriculum:hover {
  background-color: white;
  color: black;
}

.tech-list li:hover {
  background: rgba(255, 255, 255, 0.3);
  transition: 300ms;
}

.card:hover .links{
  opacity: 1;
  transition: opacity 300ms;
}

h3, .profile, .description, .curriculum { 
  animation-name: name;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes name {
  0% { opacity: 0%; }
  100% { opacity: 100%; }
}
