* {
  padding: 0;
  margin: 0;
  color: #ffffff;
  position: relative;
  scroll-behavior: smooth;
}

.bg-img {
  position: absolute;
  position: 0px 0px;
  min-height: 100%;
  width: 100%;

  background: rgb(3, 27, 39);
  background: linear-gradient(
    0deg,
    rgba(3, 27, 39, 1) 0%,
    rgba(7, 18, 20, 1) 48%,
    rgba(14, 16, 16, 1) 100%
  );
  z-index: -1;
}

.App {
  font-family: "Geist", sans-serif;
  text-align: center;
}

/* Header styles */

nav {
  position: sticky;
  top: 0;
  justify-content: space-between;
  height: 60px;
  padding: 0 10px;
  background: linear-gradient(rgba(3, 27, 39, 1) 0%, rgba(7, 18, 20, 1) 48%);
  z-index: 99;
}

.regular-menu {
  list-style-type: none;
}

.regular-menu > li {
  display: inline-block;
  margin: 0px 10px;
}

h1, .text-gradient {
  background-image: repeating-linear-gradient(
    to bottom,
    white,
    silver,
    gray,
    black
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.regular-menu > li > a {
  padding: 0px 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 500ms;
}

/* Body styles */

section {
  padding: 20px 5px;
  min-height: 500px;
}

.profile {
  width: min(300px, 40vw);
  border-radius: 15px;
}

h3 {
  margin: 30px 0px;
  font-size: 4em;
  width: min(90%, 1000px);
}

.description {
  font-size: 1.5em;
  width: 70%;
  max-width: 700px;
  margin: 30px 0px;
}

.curriculum {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  border: 2px solid white;
  border-radius: 10px;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: background-color 300ms, color 300ms;
}

h2 {
  padding: 25px 0px;
  font-size: 2.5em;
}

.tech-list {
  list-style-type: none;
  padding: 0;
  font-size: 1.2em;
  flex-wrap: wrap;
}

.tech-list li {
  display: inline-block;
  margin: 15px 10px;
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  font-weight: bold;
  font-size: 1.5em;
}

.tech-list li img {
  height: 30px;
  margin-right: 5px;
  vertical-align: middle;
  filter: invert(100%);
}

.studies-list {
  list-style-type: none;
  padding: 0;
  font-size: 1.2em;
}

.studies-list li {
  max-width: 600px;
  margin: 10px auto;
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}

.studies-list li img {
  max-height: 250px;
  max-width: 50vw;
  margin: 15px;
  border-radius: 1em;
}

.studies-list li .titles {
  text-align: left;
}

.studies-list li .university {
  font-style: italic;
  text-align: left;
  max-width: 300px;
}

.studies-list li .degree {
  font-size: 0.8em;
  text-align: left;
}

.card {
  justify-content: flex-start;
  height: 380px;
  min-width: 380px;
  max-width: 400px;
  margin: 0 5px;
  padding: 15px;
  overflow: hidden;
  background-image: linear-gradient(#242424 0%, #121212 65.62%);
  border: 1px solid lightslategray;
  border-radius: 15px;
}

.card::before {
  content: "";
  border: 7px solid black;
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(100% - 14px);
  height: calc(100% - 14px);
  border-radius: 15px;
}

.links{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  opacity: 0;
  transition: opacity 300ms;
}

.links a img {
  width: 40px;
  height: 40px;
  margin: 0 20px;
  filter: invert(100%);
  transition: transform 200ms;
}

.card img {
  border-radius: 15px;
}

.card p {
  width: 100%;
  margin: 15px 0px 0px 0px;
}

.repoName {
  font-weight: bold;
  font-size: 1.5em;
}

.repoDesc {
  font-size: 1em;
  min-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.techStack {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 0.9em;
  text-align: left;
}

.topic {
  background-color: grey;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0px 3px;
}

.slider {
  right: 5px;
  left: 5px;
  padding: 15px 5px;
  scrollbar-color: none;
  overflow: auto;
  scrollbar-width: auto;
  scrollbar-color: #454545 #a6a6a6;
}

.slider::-webkit-scrollbar {
  width: 10px;
}

.slider::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.repoPic {
  width: 90%;
  height: 150px;
  object-fit: cover;
  margin-top: 10px;
}

/* Recurrent styles */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-space {
  align-items: space-evenly;
}

.justify-space {
  justify-content: space-evenly;
}

.border {
  border: blanchedalmond solid 1px;
}

.wrap {
  flex-wrap: wrap;
}